In [56]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from sqlalchemy import create_engine
import pymysql


response = requests.get("https://covid19.ncdc.gov.ng/")
soup = BeautifulSoup(response.text,"html.parser")
table = soup.find('table')
result = table.find_all('th')
heading = []
for i in result:
    title = i.text
    heading.append(title)
#     print(title)
data = pd.DataFrame(columns=heading)
row = []
td = table.find_all('td')

for i in td:
    i= i.text.strip()
    i = i.replace(',','')
    
    if i.isnumeric():
        i=int(i)
        print(i, ' is numeric')
    
    row.append(i)
    if len(row) == 5:
        data.loc[len(data)] = row
        row = []
        
#create engine for db


# connection = create_engine('mysql+pymysql://root:******@localhost:3306/ustacky')
# create_covid19_table = '''
#     CREATE TABLE covid19_in_nigeria IF NOT EXIST(
#     states_affected varchar(15) not null,
#     No. of Cases (Lab Confirmed) integer not null,
#     No. of Cases (on admission) integer not null,
#     No. Discharged integer not null,
#     No. of Deaths integer not null
    
#     )
# '''

data.to_csv('covid19_nigeria',index=False)
data.dtypes

Lagos  is not numeric
99348  is numeric
517  is numeric
98062  is numeric
769  is numeric
FCT  is not numeric
28653  is numeric
44  is numeric
28361  is numeric
248  is numeric
Rivers  is not numeric
16667  is numeric
27  is numeric
16486  is numeric
154  is numeric
Kaduna  is not numeric
11261  is numeric
3  is numeric
11169  is numeric
89  is numeric
Plateau  is not numeric
10252  is numeric
1  is numeric
10176  is numeric
75  is numeric
Oyo  is not numeric
10224  is numeric
4  is numeric
10018  is numeric
202  is numeric
Edo  is not numeric
7694  is numeric
0  is numeric
7373  is numeric
321  is numeric
Ogun  is not numeric
5810  is numeric
11  is numeric
5717  is numeric
82  is numeric
Delta  is not numeric
5378  is numeric
97  is numeric
5170  is numeric
111  is numeric
Ondo  is not numeric
5173  is numeric
315  is numeric
4749  is numeric
109  is numeric
Kano  is not numeric
4986  is numeric
0  is numeric
4859  is numeric
127  is numeric
Akwa Ibom  is not numeric
4657  is numeric
27  is numeric
4586  is numeric
44  is numeric
Kwara  is not numeric
4630  is numeric
391  is numeric
4175  is numeric
64  is numeric
Osun  is not numeric
3311  is numeric
36  is numeric
3183  is numeric
92  is numeric
Gombe  is not numeric
3307  is numeric
83  is numeric
3158  is numeric
66  is numeric
Enugu  is not numeric
2952  is numeric
13  is numeric
2910  is numeric
29  is numeric
Anambra  is not numeric
2825  is numeric
46  is numeric
2760  is numeric
19  is numeric
Nasarawa  is not numeric
2727  is numeric
343  is numeric
2345  is numeric
39  is numeric
Imo  is not numeric
2560  is numeric
22  is numeric
2480  is numeric
58  is numeric
Katsina  is not numeric
2418  is numeric
0  is numeric
2381  is numeric
37  is numeric
Abia  is not numeric
2176  is numeric
1  is numeric
2141  is numeric
34  is numeric
Benue  is not numeric
2129  is numeric
340  is numeric
1764  is numeric
25  is numeric
Ebonyi  is not numeric
2064  is numeric
28  is numeric
2004  is numeric
32  is numeric
Ekiti  is not numeric
2004  is numeric
50  is numeric
1926  is numeric
28  is numeric
Bauchi  is not numeric
1958  is numeric
1  is numeric
1933  is numeric
24  is numeric
Borno  is not numeric
1629  is numeric
5  is numeric
1580  is numeric
44  is numeric
Taraba  is not numeric
1473  is numeric
62  is numeric
1377  is numeric
34  is numeric
Bayelsa  is not numeric
1315  is numeric
0  is numeric
1287  is numeric
28  is numeric
Adamawa  is not numeric
1203  is numeric
68  is numeric
1103  is numeric
32  is numeric
Niger  is not numeric
1148  is numeric
130  is numeric
998  is numeric
20  is numeric
Cross River  is not numeric
829  is numeric
5  is numeric
799  is numeric
25  is numeric
Sokoto  is not numeric
817  is numeric
0  is numeric
789  is numeric
28  is numeric
Jigawa  is not numeric
669  is numeric
2  is numeric
649  is numeric
18  is numeric
Yobe  is not numeric
609  is numeric
0  is numeric
600  is numeric
9  is numeric
Kebbi  is not numeric
480  is numeric
10  is numeric
454  is numeric
16  is numeric
Zamfara  is not numeric
375  is numeric
0  is numeric
366  is numeric
9  is numeric
Kogi  is not numeric
5  is numeric
0  is numeric
3  is numeric
2  is numeric

States Affected                 object
No. of Cases (Lab Confirmed)    object
No. of Cases (on admission)     object
No. Discharged                  object
No. of Deaths                   object
dtype: object

In [57]:
data.head(10)

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
0,Lagos,99348,517,98062,769
1,FCT,28653,44,28361,248
2,Rivers,16667,27,16486,154
3,Kaduna,11261,3,11169,89
4,Plateau,10252,1,10176,75
5,Oyo,10224,4,10018,202
6,Edo,7694,0,7373,321
7,Ogun,5810,11,5717,82
8,Delta,5378,97,5170,111
9,Ondo,5173,315,4749,109

In [11]:
data.index
data.columns

Index(['States Affected', 'No. of Cases (Lab Confirmed)',
       'No. of Cases (on admission)', 'No. Discharged', 'No. of Deaths'],
      dtype='object')

In [12]:
data.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36],
           dtype='int64')

In [13]:
data.describe()

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
count,37,37,37,37,37
unique,37,37,26,37,30
top,Lagos,"99,348",0,"98,062",28
freq,1,1,8,1,3

In [21]:
data.sort_values(by='No. Discharged')

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
28,Adamawa,"1,203",68,"1,103",32
27,Bayelsa,"1,315",0,"1,287",28
26,Taraba,"1,473",62,"1,377",34
25,Borno,"1,629",5,"1,580",44
21,Benue,"2,129",340,"1,764",25
23,Ekiti,"2,004",50,"1,926",28
24,Bauchi,"1,958",1,"1,933",24
5,Oyo,"10,224",4,"10,018",202
4,Plateau,"10,252",1,"10,176",75
3,Kaduna,"11,261",3,"11,169",89
2,Rivers,"16,667",27,"16,486",154
22,Ebonyi,"2,064",28,"2,004",32
20,Abia,"2,176",1,"2,141",34
17,Nasarawa,"2,727",343,"2,345",39
19,Katsina,"2,418",0,"2,381",37
18,Imo,"2,560",22,"2,480",58
16,Anambra,"2,825",46,"2,760",19
15,Enugu,"2,952",13,"2,910",29
1,FCT,"28,653",44,"28,361",248
36,Kogi,5,0,3,2
14,Gombe,"3,307",83,"3,158",66
13,Osun,"3,311",36,"3,183",92
35,Zamfara,375,0,366,9
12,Kwara,"4,630",391,"4,175",64
11,Akwa Ibom,"4,657",27,"4,586",44
9,Ondo,"5,173",315,"4,749",109
10,Kano,"4,986",0,"4,859",127
34,Kebbi,480,10,454,16
8,Delta,"5,378",97,"5,170",111
7,Ogun,"5,810",11,"5,717",82
33,Yobe,609,0,600,9
32,Jigawa,669,2,649,18
6,Edo,"7,694",0,"7,373",321
31,Sokoto,817,0,789,28
30,Cross River,829,5,799,25
0,Lagos,"99,348",517,"98,062",769
29,Niger,"1,148",130,998,20

In [60]:
data[['States Affected','No. of Cases (Lab Confirmed)']]

   States Affected No. of Cases (Lab Confirmed)
0            Lagos                        99348
1              FCT                        28653
2           Rivers                        16667
3           Kaduna                        11261
4          Plateau                        10252
5              Oyo                        10224
6              Edo                         7694
7             Ogun                         5810
8            Delta                         5378
9             Ondo                         5173
10            Kano                         4986
11       Akwa Ibom                         4657
12           Kwara                         4630
13            Osun                         3311
14           Gombe                         3307
15           Enugu                         2952
16         Anambra                         2825
17        Nasarawa                         2727
18             Imo                         2560
19         Katsina                         2418
20            Abia                         2176
21           Benue                         2129
22          Ebonyi                         2064
23           Ekiti                         2004
24          Bauchi                         1958
25           Borno                         1629
26          Taraba                         1473
27         Bayelsa                         1315
28         Adamawa                         1203
29           Niger                         1148
30     Cross River                          829
31          Sokoto                          817
32          Jigawa                          669
33            Yobe                          609
34           Kebbi                          480
35         Zamfara                          375
36            Kogi                            5

In [61]:
data.loc[13]

States Affected                 Osun
No. of Cases (Lab Confirmed)    3311
No. of Cases (on admission)       36
No. Discharged                  3183
No. of Deaths                     92
Name: 13, dtype: object

In [31]:
data.min()

States Affected                  Abia
No. of Cases (Lab Confirmed)    1,148
No. of Cases (on admission)         0
No. Discharged                  1,103
No. of Deaths                     109
dtype: object

In [59]:
data['No. of Deaths'].sum()

3143

In [58]:
data.dtypes

States Affected                 object
No. of Cases (Lab Confirmed)    object
No. of Cases (on admission)     object
No. Discharged                  object
No. of Deaths                   object
dtype: object

In [68]:
data['No. of Cases (Lab Confirmed)'].max()

99348

In [69]:
data.sort_values(by='No. of Cases (Lab Confirmed)')

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
36,Kogi,5,0,3,2
35,Zamfara,375,0,366,9
34,Kebbi,480,10,454,16
33,Yobe,609,0,600,9
32,Jigawa,669,2,649,18
31,Sokoto,817,0,789,28
30,Cross River,829,5,799,25
29,Niger,1148,130,998,20
28,Adamawa,1203,68,1103,32
27,Bayelsa,1315,0,1287,28
26,Taraba,1473,62,1377,34
25,Borno,1629,5,1580,44
24,Bauchi,1958,1,1933,24
23,Ekiti,2004,50,1926,28
22,Ebonyi,2064,28,2004,32
21,Benue,2129,340,1764,25
20,Abia,2176,1,2141,34
19,Katsina,2418,0,2381,37
18,Imo,2560,22,2480,58
17,Nasarawa,2727,343,2345,39
16,Anambra,2825,46,2760,19
15,Enugu,2952,13,2910,29
14,Gombe,3307,83,3158,66
13,Osun,3311,36,3183,92
12,Kwara,4630,391,4175,64
11,Akwa Ibom,4657,27,4586,44
10,Kano,4986,0,4859,127
9,Ondo,5173,315,4749,109
8,Delta,5378,97,5170,111
7,Ogun,5810,11,5717,82
6,Edo,7694,0,7373,321
5,Oyo,10224,4,10018,202
4,Plateau,10252,1,10176,75
3,Kaduna,11261,3,11169,89
2,Rivers,16667,27,16486,154
1,FCT,28653,44,28361,248
0,Lagos,99348,517,98062,769